secretpad新增组件，如何获取路径下的文件

### Issue Type

Bug

### Source

binary

### Secretflow Version

secretpad all in one 1.9.0b2

### OS Platform and Distribution

CentOS Linux 7

### Python version

3.10.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### What happend and What you expected to happen.

```shell
目前做一个图像预处理和目标检测的组件，中心化部署下，图片放在各个lite，如何映射appimage容器和lite的路径
```


### Reproduction code to reproduce the issue.

```shell
目前尝试修改yaml报错，不支持这么做，有没有什么方式能做到读取各方本地文件

apiVersion: kuscia.secretflow/v1alpha1
kind: AppImage
metadata:
  name: secretflow-image
spec:
  configTemplates:
    task-config.conf: |
      {
        "task_id": "{{.TASK_ID}}",
        "task_input_config": "{{.TASK_INPUT_CONFIG}}",
        "task_cluster_def": "{{.TASK_CLUSTER_DEFINE}}",
        "allocated_ports": "{{.ALLOCATED_PORTS}}"
      }
  deployTemplates:
    - name: secretflow
      replicas: 1
      spec:
        containers:
          - command:
              - sh
            args:
              - -c
              - "python -m secretflow.kuscia.entry ./kuscia/task-config.conf"
            configVolumeMounts:
              - mountPath: ./kuscia/task-config.conf
                subPath: task-config.conf
            name: secretflow
            ports:
              - name: spu
                port: 20000
                protocol: GRPC
                scope: Cluster
              - name: fed
                port: 20001
                protocol: GRPC
                scope: Cluster
              - name: global
                port: 20002
                protocol: GRPC
                scope: Domain
              - name: node-manager
                port: 20003
                protocol: GRPC
                scope: Local
              - name: object-manager
                port: 20004
                protocol: GRPC
                scope: Local
              - name: client-server
                port: 20005
                protocol: GRPC
                scope: Local
            volumeMounts:
              - mountPath: /data
                name: oran-volume
            workingDir: /root
        restartPolicy: Never
        volumes:
          - hostPath:
              path: /data
              type: DirectoryOrCreate
            name: oran-volume
```

`strict decoding error: unknown field "spec.deployTemplates[0].spec.containers[0].volumeMounts", unknown field "spec.deployTemplates[0].spec.volumes"`

没台明白您需要做什么？
如果只是将您的图片上传到kuscia容器，本身kuscia容器与宿主机有做挂载的；
如果您想将图片作为组件输入，那您需要创建domaindata，secretflow会根据domaindataId自己读取数据，因此有两个问题想要了解下：
1.您自定义的组件是否可以读取图片类型的数据呢，是否做了相关适配呢，可以尝试单测，看下组件是否可以正常跑
2.您的是有什么业务场景需要呢，方便讲一下吗？

目前在做一个图像数据的目标检测多方训练，python方式执行的代码已经写好了，但是没有可视化，目前看到secretpad能提供可视化功能，想在这基础上添加组件实现
1.首先是数据，secretpad只能上传csv本地文件，图片数据很大，一般是直接放到各方本地；目前我打算使用csv上传的文本中填入路径，再在后面的组件中读取该路径，现在就是不知道如何映射执行容器和lite容器。
2.业务场景：目前在做一个联邦深度学习产品的可行性验证，先实现一个demo完成可视化的模型训练和预测。

有没有测试相关的文档，自定义组件这块调试很不方便

> 目前在做一个图像数据的目标检测多方训练，python方式执行的代码已经写好了，但是没有可视化，目前看到secretpad能提供可视化功能，想在这基础上添加组件实现 1.首先是数据，secretpad只能上传csv本地文件，图片数据很大，一般是直接放到各方本地；目前我打算使用csv上传的文本中填入路径，再在后面的组件中读取该路径，现在就是不知道如何映射执行容器和lite容器。 2.业务场景：目前在做一个联邦深度学习产品的可行性验证，先实现一个demo完成可视化的模型训练和预测。

1.secretflow能过挂载的本地数据目录在/home/kuscia/var/storage/data，可以放到这个路径下试下
2.或者你可以创建一个[domaindata](https://www.secretflow.org.cn/zh-CN/docs/kuscia/v0.11.0b0/reference/apis/domaindata_cn#create-domain-data)，类型type可以自定义，但是需要secretflow可以解析



> 有没有测试相关的文档，自定义组件这块调试很不方便

参考[这里](https://github.com/secretflow/secretflow/blob/main/CONTRIBUTING.md)，--env参数使用prod

1.我现在是安装的secretpad-allinone，你这个目录应该是我的主机到节点之间的映射，   执行容器的映射也是这个目录吗
2.[这里](https://www.secretflow.org.cn/zh-CN/docs/secretpad-all-in-one/v1.9.0b2/more_tutorials/new_components#id4)的例子代码，实际上在release/1.9.x分支里是没有的，main分支里面的compare.py到是能对上，导致我在实现demo的时候报错。后面我切换到main分支去打包镜像，执行代码又报了下面的错误，我在之后的开发中是使用main分支还是用release/1.9.x
```
2024-10-16 18:06:26 INFO the jobId=meds, taskId=meds-ytfnhmte-node-35 start ...
2024-10-16 18:06:35 INFO the jobId=meds, taskId=meds-ytfnhmte-node-35 failed: party alice failed msg: container[secretflow] terminated state reason "Error", message: "WARNING:root:Since the GPL-licensed package `unidecode` is not installed, using Python's `unicodedata` package which yields worse results.
2024-10-16 10:06:29,983|alice|INFO|secretflow|entry.py:start_ray:60| ray_conf: RayConfig(ray_node_ip_address='meds-ytfnhmte-node-35-0-global.alice.svc', ray_node_manager_port=30643, ray_object_manager_port=30638, ray_client_server_port=30639, ray_worker_ports=[], ray_min_worker_port=14844, ray_max_worker_port=14944, ray_gcs_port=30642)
2024-10-16 10:06:29,984|alice|INFO|secretflow|entry.py:start_ray:68| Trying to start ray head node at meds-ytfnhmte-node-35-0-global.alice.svc, start command: ray start --head --include-dashboard=false --disable-usage-stats --num-cpus=32 --node-ip-address=meds-ytfnhmte-node-35-0-global.alice.svc --port=30642 --node-manager-port=30643 --object-manager-port=30638 --ray-client-server-port=30639 --min-worker-port=14844 --max-worker-port=14944
2024-10-16 10:06:33,930|alice|INFO|secretflow|entry.py:start_ray:81| 2024-10-16 10:06:30,666\tINFO usage_lib.py:423 -- Usage stats collection is disabled.
2024-10-16 10:06:30,666\tINFO scripts.py:744 -- Local node IP: meds-ytfnhmte-node-35-0-global.alice.svc
2024-10-16 10:06:33,776\tSUCC scripts.py:781 -- --------------------
2024-10-16 10:06:33,777\tSUCC scripts.py:782 -- Ray runtime started.
2024-10-16 10:06:33,777\tSUCC scripts.py:783 -- --------------------
2024-10-16 10:06:33,777\tINFO scripts.py:785 -- Next steps
2024-10-16 10:06:33,777\tINFO scripts.py:788 -- To add another node to this Ray cluster, run
2024-10-16 10:06:33,777\tINFO scripts.py:791 --   ray start --address='meds-ytfnhmte-node-35-0-global.alice.svc:30642'
2024-10-16 10:06:33,777\tINFO scripts.py:800 -- To connect to this Ray cluster:
2024-10-16 10:06:33,777\tINFO scripts.py:802 -- import ray
2024-10-16 10:06:33,777\tINFO scripts.py:803 -- ray.init(_node_ip_address='meds-ytfnhmte-node-35-0-global.alice.svc')
2024-10-16 10:06:33,777\tINFO scripts.py:834 -- To terminate the Ray runtime, run
2024-10-16 10:06:33,777\tINFO scripts.py:835 --   ray stop
2024-10-16 10:06:33,777\tINFO scripts.py:838 -- To view the status of the cluster, use
2024-10-16 10:06:33,777\tINFO scripts.py:839 --   ray status

2024-10-16 10:06:33,930|alice|INFO|secretflow|entry.py:start_ray:82| Succeeded to start ray head node at meds-ytfnhmte-node-35-0-global.alice.svc.
2024-10-16 10:06:33,932|alice|INFO|secretflow|entry.py:main:514| datasource.access_directly False
sf_node_eval_param  {
  \"domain\": \"data_prep\",
  \"name\": \"psi\",
  \"version\": \"0.0.5\",
  \"attrPaths\": [
    \"input/receiver_input/key\",
    \"input/sender_input/key\",
    \"protocol\",
    \"sort_result\",
    \"allow_duplicate_keys\",
    \"allow_duplicate_keys/no/skip_duplicates_check\",
    \"fill_value_int\",
    \"ecdh_curve\"
  ],
  \"attrs\": [
    {
      \"ss\": [
        \"id1\"
      ]
    },
    {
      \"ss\": [
        \"id2\"
      ]
    },
    {
      \"s\": \"PROTOCOL_RR22\"
    },
    {
      \"b\": true
    },
    {
      \"s\": \"no\"
    },
    {
      \"isNa\": true
    },
    {
      \"isNa\": true
    },
    {
      \"s\": \"CURVE_FOURQ\"
    }
  ],
  \"inputs\": [
    {
      \"type\": \"sf.table.individual\",
      \"meta\": {
        \"@type\": \"type.googleapis.com/secretflow.spec.v1.IndividualTable\",
        \"lineCount\": \"-1\"
      },
      \"dataRefs\": [
        {
          \"uri\": \"alice.csv\",
          \"party\": \"alice\",
          \"format\": \"csv\"
        }
      ]
    },
    {
      \"type\": \"sf.table.individual\",
      \"meta\": {
        \"@type\": \"type.googleapis.com/secretflow.spec.v1.IndividualTable\",
        \"lineCount\": \"-1\"
      },
      \"dataRefs\": [
        {
          \"uri\": \"bob.csv\",
          \"party\": \"bob\",
          \"format\": \"csv\"
        }
      ]
    }
  ],
  \"checkpointUri\": \"ckmeds-ytfnhmte-node-35-output-0\"
} 
2024-10-16 10:06:33,965|alice|WARNING|secretflow|meta_conversion.py:convert_domain_data_to_individual_table:29| kuscia adapter has to deduce dist data from domain data at this moment.
2024-10-16 10:06:33,966|alice|INFO|secretflow|entry.py:domaindata_id_to_dist_data:164| domaindata_id alice-table to 
...........
name: \"alice.csv\"
type: \"sf.table.individual\"
meta {
  type_url: \"type.googleapis.com/secretflow.spec.v1.IndividualTable\"
  value: \"\
\\335\\003\\022\\003id1\\022\\003age\\022\\teducation\\022\\007default\\022\\007balance\\022\\007housing\\022\\004loan\\022\\003day\\022\\010duration\\022\\010campaign\\022\\005pdays\\022\\010previous\\022\\017job_blue-collar\\022\\020job_entrepreneur\\022\\rjob_housemaid\\022\\016job_management\\022\\013job_retired\\022\\021job_self-employed\\022\\014job_services\\022\\013job_student\\022\\016job_technician\\022\\016job_unemployed\\022\\020marital_divorced\\022\\017marital_married\\022\\016marital_single*\\003str*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float*\\005float\\020\\377\\377\\377\\377\\377\\377\\377\\377\\377\\001\"
}
data_refs {
  uri: \"alice.csv\"
  party: \"alice\"
  format: \"csv\"
}

....
2024-10-16 10:06:34,047|alice|ERROR|secretflow|entry.py:<module>:554| unexpected exception
Traceback (most recent call last):
  File \"/usr/local/lib/python3.10/site-packages/secretflow/kuscia/entry.py\", line 552, in <module>
    main()
  File \"/usr/local/lib/python3.10/site-packages/click/core.py\", line 1157, in __call__
    return self.main(*args, **kwargs)
  File \"/usr/local/lib/python3.10/site-packages/click/core.py\", line 1078, in main
    rv = self.invoke(ctx)
  File \"/usr/local/lib/python3.10/site-packages/click/core.py\", line 1434, in invoke
    return ctx.invoke(self.callback, **ctx.params)
  File \"/usr/local/lib/python3.10/site-packages/click/core.py\", line 783, in invoke
    return __callback(*args, **kwargs)
  File \"/usr/local/lib/python3.10/site-packages/secretflow/kuscia/entry.py\", line 518, in main
    sf_node_eval_param = preprocess_sf_node_eval_param(
  File \"/usr/local/lib/python3.10/site-packages/secretflow/kuscia/entry.py\", line 294, in preprocess_sf_node_eval_param
    domaindata_id_to_dist_data(
  File \"/usr/local/lib/python3.10/site-packages/secretflow/kuscia/entry.py\", line 170, in domaindata_id_to_dist_data
    download_dist_data_from_dp(
  File \"/usr/local/lib/python3.10/site-packages/secretflow/kuscia/entry.py\", line 125, in download_dist_data_from_dp
    get_file_from_dp(dm_flight_client, domaindata_id, path, file_format)
  File \"/usr/local/lib/python3.10/site-packages/secretflow/kuscia/datamesh.py\", line 170, in get_file_from_dp
    dp_flight_client = flight.connect(dp_uri, generic_options=DEFAULT_GENERIC_OPTIONS)
  File \"pyarrow/_flight.pyx\", line 3191, in pyarrow._flight.connect
  File \"pyarrow/_flight.pyx\", line 1343, in pyarrow._flight.FlightClient.__init__
  File \"pyarrow/_flight.pyx\", line 1388, in pyarrow._flight.FlightClient.init
  File \"pyarrow/_flight.pyx\", line 78, in pyarrow._flight.check_flight_status
  File \"pyarrow/error.pxi\", line 91, in pyarrow.lib.check_status
pyarrow.lib.ArrowKeyError: No client transport implementation for kuscia
```


1.是的
2.release分支，示例代码本身就不在源码中，是需要按照文档自行实现

> > 有没有测试相关的文档，自定义组件这块调试很不方便
> 
> 参考[这里](https://github.com/secretflow/secretflow/blob/main/CONTRIBUTING.md)，--env参数使用prod

执行测试脚本报错，不知道哪里出了问题，找了几个已有的例子都报错，但是pytest --env prod  -n auto  -v --capture=no  tests/device/test_spu.py这个命令是成功的，具体错误信息如下
```
$ pytest --env prod  -n auto  -v --capture=no  tests/component/stats/test_ss_vif.py

================================================================== test session starts ==================================================================
platform linux -- Python 3.10.13, pytest-7.3.1, pluggy-1.0.0 -- /root/miniconda3/bin/python
cachedir: .pytest_cache
rootdir: /home/huangya/secretpad/dev/data/secretflow
configfile: pytest.ini
plugins: xdist-3.2.1, testmon-2.0.6, custom-exit-code-0.3.0, cov-4.0.0
[gw0] linux Python 3.10.13 cwd: /home/huangya/secretpad/dev/data/secretflow
[gw1] linux Python 3.10.13 cwd: /home/huangya/secretpad/dev/data/secretflow
[gw2] linux Python 3.10.13 cwd: /home/huangya/secretpad/dev/data/secretflow
[gw3] linux Python 3.10.13 cwd: /home/huangya/secretpad/dev/data/secretflow
[gw0] Python 3.10.13 | packaged by conda-forge | (main, Dec 23 2023, 15:36:39) [GCC 12.3.0]
[gw2] Python 3.10.13 | packaged by conda-forge | (main, Dec 23 2023, 15:36:39) [GCC 12.3.0]
[gw3] Python 3.10.13 | packaged by conda-forge | (main, Dec 23 2023, 15:36:39) [GCC 12.3.0]
[gw1] Python 3.10.13 | packaged by conda-forge | (main, Dec 23 2023, 15:36:39) [GCC 12.3.0]
gw0 [12] / gw1 [12] / gw2 [12] / gw3 [12]
scheduling tests via SFLoadPartyScheduling

tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_carol-TableFormat.INDIVIDUAL_TABLE]
tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_davy-TableFormat.INDIVIDUAL_TABLE]
tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_alice-TableFormat.INDIVIDUAL_TABLE]
tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_bob-TableFormat.INDIVIDUAL_TABLE]
[gw2] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_bob-TableFormat.INDIVIDUAL_TABLE]
tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_bob-TableFormat.VERTICAL_TABLE_MULTI_PARTY]
[gw1] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_davy-TableFormat.INDIVIDUAL_TABLE]
[gw0] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_alice-TableFormat.INDIVIDUAL_TABLE]
[gw3] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_carol-TableFormat.INDIVIDUAL_TABLE]
tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_davy-TableFormat.VERTICAL_TABLE_MULTI_PARTY]
tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_alice-TableFormat.VERTICAL_TABLE_MULTI_PARTY]
tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_carol-TableFormat.VERTICAL_TABLE_MULTI_PARTY]
[gw1] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_davy-TableFormat.VERTICAL_TABLE_MULTI_PARTY]
[gw0] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_alice-TableFormat.VERTICAL_TABLE_MULTI_PARTY]
[gw3] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_carol-TableFormat.VERTICAL_TABLE_MULTI_PARTY]
tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_davy-TableFormat.VERTICAL_TABLE_SINGLE_PARTY]
tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_alice-TableFormat.VERTICAL_TABLE_SINGLE_PARTY]
[gw2] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_bob-TableFormat.VERTICAL_TABLE_MULTI_PARTY]
tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_carol-TableFormat.VERTICAL_TABLE_SINGLE_PARTY]
tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_bob-TableFormat.VERTICAL_TABLE_SINGLE_PARTY]
[gw0] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_alice-TableFormat.VERTICAL_TABLE_SINGLE_PARTY]
[gw1] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_davy-TableFormat.VERTICAL_TABLE_SINGLE_PARTY]
[gw2] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_bob-TableFormat.VERTICAL_TABLE_SINGLE_PARTY]
[gw3] ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_carol-TableFormat.VERTICAL_TABLE_SINGLE_PARTY]

======================================================================== ERRORS =========================================================================
____________________________________ ERROR at setup of test_ss_vif[SF_PARTY_PREFIX_bob-TableFormat.INDIVIDUAL_TABLE] ____________________________________
[gw2] linux -- Python 3.10.13 /root/miniconda3/bin/python

self = <urllib.request.HTTPSHandler object at 0x7f4cabfba410>, http_class = <class 'http.client.HTTPSConnection'>
req = <urllib.request.Request object at 0x7f4cabfba140>, http_conn_args = {'check_hostname': None, 'context': None}, host = 'dl.min.io'
h = <http.client.HTTPSConnection object at 0x7f4cabfba590>

    def do_open(self, http_class, req, **http_conn_args):
        """Return an HTTPResponse object for the request, using http_class.

        http_class must implement the HTTPConnection API from http.client.
        """
        host = req.host
        if not host:
            raise URLError('no host given')

        # will parse host:port
        h = http_class(host, timeout=req.timeout, **http_conn_args)
        h.set_debuglevel(self._debuglevel)

        headers = dict(req.unredirected_hdrs)
        headers.update({k: v for k, v in req.headers.items()
                        if k not in headers})

        # TODO(jhylton): Should this be redesigned to handle
        # persistent connections?

        # We want to make an HTTP/1.1 request, but the addinfourl
        # class isn't prepared to deal with a persistent connection.
        # It will try to read all remaining data from the socket,
        # which will block while the server waits for the next request.
        # So make sure the connection gets closed after the (only)
        # request.
        headers["Connection"] = "close"
        headers = {name.title(): val for name, val in headers.items()}

        if req._tunnel_host:
            tunnel_headers = {}
            proxy_auth_hdr = "Proxy-Authorization"
            if proxy_auth_hdr in headers:
                tunnel_headers[proxy_auth_hdr] = headers[proxy_auth_hdr]
                # Proxy-Authorization should not be sent to origin
                # server.
                del headers[proxy_auth_hdr]
            h.set_tunnel(req._tunnel_host, headers=tunnel_headers)

        try:
            try:
>               h.request(req.get_method(), req.selector, req.data, headers,
                          encode_chunked=req.has_header('Transfer-encoding'))

/root/miniconda3/lib/python3.10/urllib/request.py:1348:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPSConnection object at 0x7f4cabfba590>, method = 'GET', url = '/server/minio/release/linux-amd64/minio', body = None
headers = {'Connection': 'close', 'Host': 'dl.min.io', 'User-Agent': 'Python-urllib/3.10'}

    def request(self, method, url, body=None, headers={}, *,
                encode_chunked=False):
        """Send a complete request to the server."""
>       self._send_request(method, url, body, headers, encode_chunked)

/root/miniconda3/lib/python3.10/http/client.py:1283:


_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPSConnection object at 0x7f0cd6c5e5c0>, method = 'GET', url = '/server/minio/release/linux-amd64/minio', body = None
headers = {'Connection': 'close', 'Host': 'dl.min.io', 'User-Agent': 'Python-urllib/3.10'}

    def request(self, method, url, body=None, headers={}, *,
                encode_chunked=False):
        """Send a complete request to the server."""
>       self._send_request(method, url, body, headers, encode_chunked)

/root/miniconda3/lib/python3.10/http/client.py:1283:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPSConnection object at 0x7f0cd6c5e5c0>, method = 'GET', url = '/server/minio/release/linux-amd64/minio', body = None
headers = {'Connection': 'close', 'Host': 'dl.min.io', 'User-Agent': 'Python-urllib/3.10'}, encode_chunked = False

    def _send_request(self, method, url, body, headers, encode_chunked):
        # Honor explicitly requested Host: and Accept-Encoding: headers.
        header_names = frozenset(k.lower() for k in headers)
        skips = {}
        if 'host' in header_names:
            skips['skip_host'] = 1
        if 'accept-encoding' in header_names:
            skips['skip_accept_encoding'] = 1

        self.putrequest(method, url, **skips)

        # chunked encoding will happen if HTTP/1.1 is used and either
        # the caller passes encode_chunked=True or the following
        # conditions hold:
        # 1. content-length has not been explicitly set
        # 2. the body is a file or iterable, but not a str or bytes-like
        # 3. Transfer-Encoding has NOT been explicitly set by the caller

        if 'content-length' not in header_names:
            # only chunk body if not explicitly set for backwards
            # compatibility, assuming the client code is already handling the
            # chunking
            if 'transfer-encoding' not in header_names:
                # if content-length cannot be automatically determined, fall
                # back to chunked encoding
                encode_chunked = False
                content_length = self._get_content_length(body, method)
                if content_length is None:
                    if body is not None:
                        if self.debuglevel > 0:
                            print('Unable to determine size of %r' % body)
                        encode_chunked = True
                        self.putheader('Transfer-Encoding', 'chunked')
                else:
                    self.putheader('Content-Length', str(content_length))
        else:
            encode_chunked = False

        for hdr, value in headers.items():
            self.putheader(hdr, value)
        if isinstance(body, str):
            # RFC 2616 Section 3.7.1 says that text default has a
            # default charset of iso-8859-1.
            body = _encode(body, 'body')
>       self.endheaders(body, encode_chunked=encode_chunked)

/root/miniconda3/lib/python3.10/http/client.py:1329:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPSConnection object at 0x7f0cd6c5e5c0>, message_body = None

    def endheaders(self, message_body=None, *, encode_chunked=False):
        """Indicate that the last header line has been sent to the server.

        This method sends the request to the server.  The optional message_body
        argument can be used to pass a message body associated with the
        request.
        """
        if self.__state == _CS_REQ_STARTED:
            self.__state = _CS_REQ_SENT
        else:
            raise CannotSendHeader()
>       self._send_output(message_body, encode_chunked=encode_chunked)

/root/miniconda3/lib/python3.10/http/client.py:1278:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPSConnection object at 0x7f0cd6c5e5c0>, message_body = None, encode_chunked = False

    def _send_output(self, message_body=None, encode_chunked=False):
        """Send the currently buffered request and clear the buffer.

        Appends an extra \\r\\n to the buffer.
        A message_body may be specified, to be appended to the request.
        """
        self._buffer.extend((b"", b""))
        msg = b"\r\n".join(self._buffer)
        del self._buffer[:]
>       self.send(msg)

/root/miniconda3/lib/python3.10/http/client.py:1038:


================================================================ short test summary info ================================================================
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_bob-TableFormat.INDIVIDUAL_TABLE] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_davy-TableFormat.INDIVIDUAL_TABLE] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_alice-TableFormat.INDIVIDUAL_TABLE] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_carol-TableFormat.INDIVIDUAL_TABLE] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_davy-TableFormat.VERTICAL_TABLE_MULTI_PARTY] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_alice-TableFormat.VERTICAL_TABLE_MULTI_PARTY] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_carol-TableFormat.VERTICAL_TABLE_MULTI_PARTY] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_bob-TableFormat.VERTICAL_TABLE_MULTI_PARTY] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_alice-TableFormat.VERTICAL_TABLE_SINGLE_PARTY] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_davy-TableFormat.VERTICAL_TABLE_SINGLE_PARTY] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_bob-TableFormat.VERTICAL_TABLE_SINGLE_PARTY] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
ERROR tests/component/stats/test_ss_vif.py::test_ss_vif[SF_PARTY_PREFIX_carol-TableFormat.VERTICAL_TABLE_SINGLE_PARTY] - urllib.error.URLError: <urlopen error [Errno 111] Connection refused>
========================================================== 3710 warnings, 12 errors in 32.28s ===========================================================
```

pip install -r dev-requirements.txt，这个有执行吗

> pip install -r dev-requirements.txt，这个有执行吗

指定了，包都安装好了，实际上我昨天执行成功过几次，今天就不行了，一般在下面这里卡很久
```
[gw2] Python 3.10.13 | packaged by conda-forge | (main, Dec 23 2023, 15:36:39) [GCC 12.3.0]
[gw3] Python 3.10.13 | packaged by conda-forge | (main, Dec 23 2023, 15:36:39) [GCC 12.3.0]
[gw1] Python 3.10.13 | packaged by conda-forge | (main, Dec 23 2023, 15:36:39) [GCC 12.3.0]
[gw0] Python 3.10.13 | packaged by conda-forge | (main, Dec 23 2023, 15:36:39) [GCC 12.3.0]
gw0 [8] / gw1 [8] / gw2 [8] / gw3 [8]
scheduling tests via SFLoadPartyScheduling

tests/component/stats/test_table_statistics.py::test_table_statistics_comp[SF_PARTY_PREFIX_davy]
tests/component/stats/test_table_statistics.py::test_table_statistics_comp[SF_PARTY_PREFIX_alice]
tests/component/stats/test_table_statistics.py::test_table_statistics_comp[SF_PARTY_PREFIX_carol]
tests/component/stats/test_table_statistics.py::test_table_statistics_comp[SF_PARTY_PREFIX_bob]
```